$pink-extra-light:  #E9EAEC;
$pink-light:  #F3D0C4;
$indigo-light: #C9BDF3;
$white: #FFF;
$white-dark: #FBFCFE;
$black: #161717;
$blue: #4F4EDC;
$pink: #f63482;

// Color
$primary: $pink-extra-light;
$secondary: $pink-light;
$tertiary: $indigo-light;
$button: $blue;
$text: $black;
$border: $white-dark;
$error: $pink;

$border-radius-size: 18px;