<div class="content">
    <div class="left">
        <div class="mat-display-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident possimus repellendus ipsum, nisi vel odit quisquam, modi quidem quae reiciendis eum necessitatibus vitae non fuga?
        </p>
        <div class="buttons">
            <div>
                <button mat-raised-button class="btn btn-rounded btn-light">See pricing</button>
            </div>
            <div>
                <button mat-stroked-button class="btn">Learn more</button>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="assets/images/illustration.png" alt="">
    </div>
</div>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti aspernatur aut corporis. Laboriosam, ea! Optio impedit at qui eligendi. Voluptas perferendis mollitia labore fugiat impedit ipsa nam tempore sequi assumenda ipsam consequatur cum, natus, beatae aliquid illo. Aperiam nam veritatis suscipit illo porro libero quo? Ab voluptatum laudantium repellat quibusdam!</p>
</div>