@use '../../../sass/custom' as *;
@use '../../../sass/components/typography' as *;

.form {
    padding-bottom: 2rem;
    div {
        margin-bottom: 1.5rem;
    }

    form {
        margin-top: 2rem;
    }
    
    mat-form-field {
        width: 80%;
    }
}