<div class="form">
    <mat-card>
        <mat-card-header>
            <button mat-icon-button mat-card-avatar>
                <mat-icon color="primary">save_as</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title class="mat-display-1">Edit user</mat-card-title>
            <form [formGroup]="editUserForm" (ngSubmit)="submitForm()">
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-hint align="end">Accept only valid email</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Username (Optional)</mat-label>
                        <input matInput formControlName="username">
                        <mat-hint align="end">Min 3 characters</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Old Password</mat-label>
                        <input type="password" matInput [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}">
                        <mat-hint align="end">Min 4 characters</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-hint align="end">Min 4 characters</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Confirm your password</mat-label>
                        <input type="password" matInput [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
                        <mat-hint align="end" *ngIf="editUserForm.value['password'] === confirmPassword">
                            Correct
                            <mat-icon>check_circle</mat-icon>
                        </mat-hint>
                        <mat-hint align="end" *ngIf="editUserForm.value['password'] && confirmPassword && editUserForm.value['password'] !== confirmPassword">
                            Incorrect
                            <mat-icon>cancel</mat-icon>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <mat-card-actions>
                    <button
                        mat-raised-button
                        matTooltip="Save new informations"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="1000"
                        color="primary"
                        [disabled]="editUserForm.invalid || (editUserForm.value['password'] !== '' && editUserForm.value['password'] !== confirmPassword)">
                        Save changes
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>